@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    vertical-align: top;
    max-width: 100%;
}

button {
    cursor: pointer;
}

.wrap {
    position: relative;
}

header {
    height:100px;
    background: #003366;
}

header .inner {
    width: 1200px;
    height: 100%;
    margin: auto;
    background: #003366;
    padding-top: 30px;
}

nav {
    position: absolute;
    top: 59px;
    right: 0;
    z-index: 10;
}

nav>ul {
    display: flex;
}

nav>ul>li>a {
    display: block;
    width: 150px;
    text-align: center;
    padding: 10px;
    color: #fff;
}

nav>ul>li:hover>a {
    background: #f4d01f;
    color: #003366;
}

.sub a {
    display: block;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    color: #fff;
}

.sub a:hover {
    background: #003366;
    color: #fff;
}

.menuBg {
    width: 100%;
    height: 155px;
    background: rgba(0, 0, 0, 0.8);
    top: 100px;
    left: 0;
    position: absolute;
    z-index: 5;
}

.slide {
    width: 1200px;
    height: 300px;
    margin: auto;
    background-color: blue;
}

.contents {
    width: 1200px;
    height: 200px;
    margin: auto;
    display: flex;
}

.contents article {
    width: 400px;
}

.contents .notice {
    background-color: lightcoral;
}

.contents .banner {
    background-color: lightskyblue;
}

.contents .go {
    background-color: lightgreen;
}

footer {
    width: 100%;
    height: 120px;
    background-color: lightblue;
}